In [44]:
t1=()
t2=(1,)
t3=(1,2,3)
t4=1,2,3
t5=('a','b',('ab','cd'))
print(t1,t2,t3,t4,t5)

# 리스트와 모습이 거의 비슷하지만 튜플에서는 리스트와 다른 2가지 차이점이 있다.
# t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 
# 한다는 것과 t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방

l3=list(t3)
del l3[0]
t3=tuple(l3)
print(t3)
#강제 형변환으로 삭제하는법

() (1,) (1, 2, 3) (1, 2, 3) ('a', 'b', ('ab', 'cd'))
(2, 3)

In [47]:
s1 = set([1,2,3])
s1

s2 = set("Hello22")
s2
# 중복을 허용하지 않는다. 순서가 없다.

{'2', 'H', 'e', 'l', 'o'}

In [57]:
ss2=s2.copy()

print(s2 is ss2) # 두 집합이 동일(메모리주소, 위치)한지 확인


print(s2 == ss2) # 두집합에 속해있는 요소가 동일한지 확인

False
True

In [62]:
peo={'name':'kim',
     'cp':114,
     'bir':'0707',
     'nick': ['ai','robot'],
     'dic1':{'dic1': 'value1', 'dic3': 'value2'}}
peo

{'name': 'kim',
 'cp': 114,
 'bir': '0707',
 'nick': ['ai', 'robot'],
 'dic1': {'dic1': 'value1', 'dic3': 'value2'}}

In [66]:
jin={
    '이름': '윤진수',
    '주소': '관악구',
    '성별': '남자',
    '별명': '텐수',
    '취미': '야구'}
jin

{'이름': '윤진수', '주소': '관악구', '성별': '남자', '별명': '텐수', '취미': '야구'}

In [71]:
s=dict()
print(s)
type(s)

my=dict(name='kim', cp=114)
my

{}

{'name': 'kim', 'cp': 114}

In [73]:
li=[('name', 'kim'), ('cp', '119'), ('bloodtype', 'B')]
mydic=dict(li)

In [74]:
t={'새우깡':1000,'감자칩':2000,'요구르트':500}

In [78]:
t['생수']=500
t

{'새우깡': 1000, '감자칩': 2000, '요구르트': 500, '생수': 500}

In [79]:
del t['요구르트']

In [90]:
제품={'새우깡':[1000,5], '생수':[500,10]}
print(제품['생수'][1])
print(제품.items())

10
dict_items([('새우깡', [1000, 5]), ('생수', [500, 10])])