In [1]:
import numpy as np

In [2]:
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [7]:
x = np.array([[[1, 2, 3, 4],
               [5, 6, 7, 8],
               [9, 10, 11, 12]],
              [[11, 12, 13, 14],
               [15, 16, 17, 18],
               [19, 20, 21, 22]]])
# 깊이 : 2
# 행   : 3
# 열   : 4
# x배열의 shape?  2*3*4 배열
len(x) #깊이
len(x[0]) #행
len(x[0][0]) #열

4

In [10]:
x.ndim #배열의 차원
x.shape # 배열의 크기

(2, 3, 4)

In [14]:
x = np.array([[1,2,3],[4,5,6]])

In [23]:
x[0]
x[-2][-3]
x[-2,-3]

1

In [35]:
x = np.array([[1,2,3],
              [4,5,6]])
x[0] #첫번째 행 전체
x[0,] #첫번째 행 전체
x[0,:] #첫번째 행 전체

x[1, : ]
x[:,1]

array([2, 5])

In [38]:
x[1][1:]
x[1,1:]

array([5, 6])

In [40]:
x[:,1:]

array([[2, 3],
       [5, 6]])

In [42]:
x=np.array([1,2,3])
b=np.array([True, False, True])

In [43]:
x[b]

array([1, 3])

In [47]:
x>1
x[x>1]

array([2, 3])

In [48]:
x=np.array([1,2,3,4])
b=np.array([True, False, True])

In [49]:
x[b]

IndexError: boolean index did not match indexed array along dimension 0; dimension is 4 but corresponding boolean dimension is 3

In [50]:
x=np.array([1,2,3])
b=np.array([True, False, True])
x%2==1

array([ True, False,  True])

In [52]:
x[x%2==1]

array([1, 3])

In [54]:
x=np.array([10,20,30,40,50])
y=np.array([0,2,4])
y=np.array([0,2,4,0,0,2])
x[y] # 정수 배열 인덱싱

array([10, 30, 50])

In [55]:
y=np.array([0,2,4,0,0,2])
x[y] # 정수 배열 인덱싱

array([10, 30, 50, 10, 10, 30])

In [56]:
x=np.array([[10,20,30],[40,50,60]])
x

array([[10, 20, 30],
       [40, 50, 60]])

In [57]:
x[:,:]

array([[10, 20, 30],
       [40, 50, 60]])

In [59]:
x[:,[True,False,True]]# 0번 2번 index 열 데이터 추출
x[[True,False],:] # 0번 index 행 데이터 추출

array([[10, 20, 30]])

In [65]:
print(x[:,[0,2]])
print(x[:,[2,0]])
print(x[:,[2,0,0,2,0]])
print(x[[1,1,1,0],:])
print(x[[1,0],:])

[[10 30]
 [40 60]]
[[30 10]
 [60 40]]
[[30 10 10 30 10]
 [60 40 40 60 40]]
[[40 50 60]
 [40 50 60]
 [40 50 60]
 [10 20 30]]
[[40 50 60]
 [10 20 30]]

In [72]:
x= np.array([[ 0,  1,  2,  3,  4],
            [ 5,  6,  7,  8,  9],
            [10, 11, 12, 13, 14]])

In [81]:
#7 참조
x[1,2]
x[x==7]

#14참조
x[-1,-1]
x[x==14]

#6,7 참조
x[1,1:3]
x[1,[1,2]]
x[(x==6)|(x==7)]

#[3,4],[8,9] 참조
x[0:2,3:5]

array([[3, 4],
       [8, 9]])

In [82]:
x = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
             11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [87]:
x[x % 3 ==0]
x[x % 4 ==1]
#x[(x % 3 ==0)|(x % 4 ==1)]

array([ 1,  5,  9, 13, 17])

In [93]:
x=np.array([1,2.5])

type(x)
#x.dtype

dtype('float64')

In [95]:
x=np.array([1,2.5], dtype='f') # 변수 조절가능
x.dtype
x

array([1. , 2.5], dtype=float32)

In [ ]:
inf #infinity

In [ ]:
np.inf # 무한대를 표현하는 상수
np.nan# 정의할 수 없는 숫자

In [99]:
print(np.array([1])/np.array([0]))
print(np.array([0])/np.array([1]))
print(np.array([-1])/np.array([0]))
print(np.array([0])/np.array([0]))

print(np.log(0))
np

[inf]
[0.]
[-inf]
[nan]
-inf

<ipython-input-99-407456aac886>:1: RuntimeWarning: divide by zero encountered in true_divide
  print(np.array([1])/np.array([0]))
<ipython-input-99-407456aac886>:3: RuntimeWarning: divide by zero encountered in true_divide
  print(np.array([-1])/np.array([0]))
<ipython-input-99-407456aac886>:4: RuntimeWarning: invalid value encountered in true_divide
  print(np.array([0])/np.array([0]))
<ipython-input-99-407456aac886>:6: RuntimeWarning: divide by zero encountered in log
  print(np.log(0))

In [102]:
np.zeros((3,2))
np.zeros((3,2,4))

array([[[0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.]]])

In [ ]:
np.zeros((3,2,4))

In [104]:
np.ones((3,2,4))

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

In [105]:
np.ones((3,2,4))*2

array([[[2., 2., 2., 2.],
        [2., 2., 2., 2.]],

       [[2., 2., 2., 2.],
        [2., 2., 2., 2.]],

       [[2., 2., 2., 2.],
        [2., 2., 2., 2.]]])

In [106]:
x=np.ones((3,2,4))
x

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

In [108]:
# _like 함수 : x배열의 크기와 동일하게 0 또는 1로 모두 초기화하여 생성

y=np.zeros_like(x)
y

array([[[0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.]]])

In [109]:
np.empty((3,2))
# zeros:0으로 초기화, empty:기존에 메모리에 남아있는 쓰레기값으로 초기화

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [110]:
np.array(list(range(8)))

array([0, 1, 2, 3, 4, 5, 6, 7])

In [111]:
np.array(list(range(8))).reshape(4,2)

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [112]:
np.arange(8)

array([0, 1, 2, 3, 4, 5, 6, 7])

In [114]:
print(np.arange(1,11))
print(np.arange(1,11,2))

[ 1  2  3  4  5  6  7  8  9 10]
[1 3 5 7 9]

In [115]:
np.linspace(0,100,10)

array([  0.        ,  11.11111111,  22.22222222,  33.33333333,
        44.44444444,  55.55555556,  66.66666667,  77.77777778,
        88.88888889, 100.        ])

In [117]:
#np.logspace(시작, 끝, 갯수, base)# 로그 스케일 값으로 배열 생성
np.logspace(start=1,stop=10,num=10,base=2)

array([   2.,    4.,    8.,   16.,   32.,   64.,  128.,  256.,  512.,
       1024.])

In [ ]:
#전치행렬 : 행과열을 바꾸어놓은 행렬, T속성을 이용

In [ ]:
#1~6까지 2행3열 행렬생성

In [118]:
X=np.arange(1,7).reshape((2,3))

In [122]:
X.T

array([[1, 4],
       [2, 5],
       [3, 6]])

In [123]:
x=np.arange(12)
x.reshape(3,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [126]:
x=np.arange(12)
x.reshape(4,-1)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [129]:
x=np.arange(24)
x.reshape(2,-1,3)

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8],
        [ 9, 10, 11]],

       [[12, 13, 14],
        [15, 16, 17],
        [18, 19, 20],
        [21, 22, 23]]])

In [ ]:
# reshape으로 차원을 증가시킬 수 있다.
# ex) reshape함수 : 1차원 배열 -> 다차원 배열
# ex) flatten 또는 ravel함수 : 다차원 배열 -> 1차원 배열

In [133]:
x= x.reshape(2,3,-1)

In [134]:
x

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [135]:
x.flatten()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [136]:
x.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [154]:
import pandas as pd

In [155]:
pd.read_csv('intel.csv')

          Open       High        Low      Close  Adj Close    Volume
0    49.480000  50.230000  49.139999  49.240002  47.966309  62362600
1    49.490002  49.500000  47.900002  48.070000  46.826569  60500800
2    47.830002  48.500000  47.590000  47.990002  46.748642  39735200
3    48.130001  48.320000  46.970001  47.730000  46.495361  46536000
4    48.270000  48.630001  47.740002  48.299999  47.050617  31767100
..         ...        ...        ...        ...        ...       ...
247  55.180000  56.279999  55.009998  56.230000  56.230000  18497200
248  56.060001  56.540001  55.680000  55.959999  55.959999  36691000
249  54.580002  54.709999  52.320000  53.000000  53.000000  67715400
250  52.810001  54.540001  52.759998  54.310001  54.310001  32782400
251  53.119999  53.200001  52.310001  53.180000  53.180000  39846400

[252 rows x 6 columns]

In [158]:
intel=np.loadtxt('intel.csv',skiprows=1, delimiter=',')
intel.shape
intel

array([[4.9480000e+01, 5.0230000e+01, 4.9139999e+01, 4.9240002e+01,
        4.7966309e+01, 6.2362600e+07],
       [4.9490002e+01, 4.9500000e+01, 4.7900002e+01, 4.8070000e+01,
        4.6826569e+01, 6.0500800e+07],
       [4.7830002e+01, 4.8500000e+01, 4.7590000e+01, 4.7990002e+01,
        4.6748642e+01, 3.9735200e+07],
       ...,
       [5.4580002e+01, 5.4709999e+01, 5.2320000e+01, 5.3000000e+01,
        5.3000000e+01, 6.7715400e+07],
       [5.2810001e+01, 5.4540001e+01, 5.2759998e+01, 5.4310001e+01,
        5.4310001e+01, 3.2782400e+07],
       [5.3119999e+01, 5.3200001e+01, 5.2310001e+01, 5.3180000e+01,
        5.3180000e+01, 3.9846400e+07]])

In [162]:
df=pd.read_csv('train.csv')
df['Name']
df['Name'][0]

'Braund, Mr. Owen Harris'