In [1]:
import pandas as pd

In [74]:
df=pd.read_table('C:/Users/jinsu1/Downloads/Ac_Day_20210601.zip',encoding='cp949', sep='\n',
                 header=None)
df

                                                      0
0     2021-06-01 00:03:21,,2021-05-31 23:59:07,2021-...
1     2021-06-01 00:28:29,,2021-06-01 00:23:17,2021-...
2     2021-06-01 00:34:07,,2021-06-01 00:34:00,2021-...
3     2021-06-01 00:35:30,7733,2021-06-01 00:34:02,2...
4     2021-06-01 03:09:19,,2021-06-01 03:02:13,2021-...
...                                                 ...
1001  2021-06-01 23:38:59,20210601233859,2021-06-01 ...
1002  2021-06-01 23:47:13,20210601234713,2021-06-01 ...
1003  2021-06-01 23:57:41,20210601235741,2021-06-01 ...
1004  2021-06-01 23:57:41,20210601235741,2021-06-01 ...
1005  2021-06-01 23:59:45,,2021-06-01 23:58:00,2021-...

[1006 rows x 1 columns]

In [114]:
df2=df[0].str.split(',', expand=True)
df2.columns

RangeIndex(start=0, stop=20, step=1)

In [78]:
df2[-1]

KeyError: -1