In [1]:
import pandas as pd

In [8]:
aa=pd.read_csv('C:/Users/jinsu1/Downloads/output_dtg.txt', sep='|')
#aa.columns=["운수회사코드", "자동차등록번호", "운수회사 소재지코드", "자료제출일시"]
aa

                          HMC-EURO6DTGYR-200KA  KMJHG17G  16  \
5  196003 19121320244000                    30      1357   0
          19121320244100                    29      1219   1
          19121320244200                    27      1088   1
          19121320244300                    25       996   0
          19121320244400                    22       933   0
...                                        ...       ...  ..
13 196011 19121320425500                     6       652   1
          19121320425600                     1       776   0
          19121320425700                     0      1141   0
          19121320425800                     0      1144   0
          19121320425900                     2      1017   0

                          d22100e174dadf9f1aa9bf296d4d32af36c1b03a5724a919198a1222367bfff5  \
5  196003 19121320244000                                          126805416
          19121320244100                                          126805432
          19121320244200                                          126805464
          19121320244300                                          126805480
          19121320244400                                          126805496
...                                                                     ...
13 196011 19121320425500                                          126778520
          19121320425600                                          126778520
          19121320425700                                          126778520
          19121320425800                                          126778520
          19121320425900                                          126778504

                          ***81*****  4148025021  \
5  196003 19121320244000    37673048          16
          19121320244100    37673116          17
          19121320244200    37673180          16
          19121320244300    37673236          14
          19121320244400    37673288          13
...                              ...         ...
13 196011 19121320425500    37706828         105
          19121320425600    37706828           0
          19121320425700    37706824           0
          19121320425800    37706824          68
          19121320425900    37706828          43

                          d5570f4c7255dd86eeb66bc5dba7422bbd5c8fa5687fd62cfc992e70db547365  \
5  196003 19121320244000                                                0.9
          19121320244100                                                0.0
          19121320244200                                               -1.0
          19121320244300                                                0.6
          19121320244400                                                0.4
...                                                                     ...
13 196011 19121320425500                                                0.4
          19121320425600                                                0.6
          19121320425700                                                0.7
          19121320425800                                                0.0
          19121320425900                                                0.3

                            b  2015        3933
5  196003 19121320244000  0.4     0  4128510100
          19121320244100 -0.8     0  4128510100
          19121320244200 -1.0     0  4128510100
          19121320244300 -0.7     0  4128510100
          19121320244400 -0.6     0  4128510100
...                       ...   ...         ...
13 196011 19121320425500 -0.3     0  4128511300
          19121320425600 -1.0     0  4128511300
          19121320425700 -1.1     0  4128511300
          19121320425800 -0.9     0  4128511300
          19121320425900 -0.4     0  4128511300

[1100 rows x 10 columns]