In [3]:
x=[1,2,3]
print(x)
print(*x) # unpacking
print(*[1,2,3]) # unpacking

[1, 2, 3]
1 2 3
1 2 3

In [5]:
def printNum(*args):
    for i in args:
        print(i)
    
printNum(1,2,3)

printNum(*[1,2,3])

1
2
3
1
2
3

In [9]:
num=[10,20,30,40,50]
x=num[0]
y=num[1]
z=num[2:]

In [10]:
x,y,*z = num # 위와 결과가 같음

In [13]:
def dString(year, month, day):
    return str(year)+"년"+ str(month)+"월"+str(day)+"일"
date=(2021,7,14)
dString(date[0], date[1], date[2])

'2021년7월14일'

In [14]:
dString(*date)

'2021년7월14일'

In [ ]:
# 람다함수, 리스트내포

# lambda : 함수를 정의할 때 사용하는 예약어(def와 동일, 간단한 기능의 함수)
# def를 사용 할수 없는곳에 쓰임
# def : 복잡한 기능을 갖는 함수 정의

In [15]:
def sum(a,b):
    return a+b

In [16]:
res=sum(10,20)
print(res)

30

#람다 함수

In [17]:
sum2=lambda a,b:a+b

sum2(10,20)

30

lambda 매겨변수 (들):식

In [27]:
(lambda x:x+1)(5)

6

In [26]:
(lambda x,y:x+y)(5,10)

15

In [29]:
(lambda x,y=10:x+y)(5) # 버전에 따라 오류가 발생할 수 도 있음

15

In [30]:
y=10
(lambda x:x+y)(5) # 위 보단 안전하게 사용가능

15

In [43]:
# 람다함수를 map함수의 인수로 전달하여 수행

# def add(a):
#     return a+1
x=[1,2,3]

#print(list(map(add,x)))

list(map(lambda a:a+1,x))

[2, 3, 4]

In [36]:
# for i in range(len(x)):
#     x[i]=add(x[i])
# x
# -------------------------
# x_add=[]
# [x_add.append(add(i))for i in x]
# x_add

[2, 3, 4]

In [50]:
# lambda 매겨변수 : 식
# lambda 매겨변수 : 조건식
x=[1,2,3,4,5]
list(map(lambda x: str(x) if x % 2 == 0 else x, x))

[1, '2', 3, '4', 5]

In [55]:
# 조건식 => 식1 if 조건식1 else 식2 if 조건식2 else 식3

x=[1,2,3,4,5]
list(map(lambda x: str(x) if x == 1 else float(x) if x == 2 else x, x))

['1', 2.0, 3, 4, 5]

In [56]:
x=[10,20,0,5,10]
y=[1,0,20,15,5]

list(map(lambda a, b: a* b, x, y))

[10, 0, 0, 75, 50]

In [60]:
a= ['a','b','c']
for i in enumerate(a): # enumerreate함수 : 열거형 함수, 리스트(퓨틀,문자열)의
                        # 자료를 입력받아 (index,자료) 형식으로 리턴
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')

In [62]:
#eval() 연산이 가능한 문자열을 전달받아 연산 수행, 결과 도출

eval("1+2")

3

In [65]:
# filter() 조건에 만족하는 자료들만 추출
# filter(함수, 리스트(튜플...)): 함수에 정의한 조건을 만족하는 자료들만 필터링됌

def myFunc(data):
    return data>3 and data<7

In [66]:
data=[8,1,5,2,6]
list(filter(myFunc,data))

[5, 6]

In [67]:
data=[8,1,5,2,6]
list(filter(lambda x: x>3 and x<7, data))

[5, 6]

In [68]:
x=[1,2,3]
for i in range(len(x)):
    x[i] = x[i]*2
print(x)

[2, 4, 6]

In [70]:
x=[1,2,3]
print(list(map(lambda x: x*2,x)))

[2, 4, 6]

In [73]:
pow(3,2) #제곱

round(3.1) # 반올림(소수1번째자리)

3

In [74]:
list(zip([1,2],[3,4]))

[(1, 3), (2, 4)]

In [89]:
data='aaaaaaaabbbbbccc'
enco=''
count=1

for i in range(1, len(data)):
    if data[i] == data[i-1]:
        count += 1
    else:
        enco += data[i-1] + str(count)
        count = 1
    if i == len(data)-1:
        enco += data[i] + str(count)
        
print(enco)

decoding=[]
deco1=enco[0::2]
deco2=enco[1::2]
for i in range(len(deco1)-1):
    decoding[i] = deco1[i] * deco2[i]
decoding

a8b5c3

TypeError: can't multiply sequence by non-int of type 'str'